# --- APP CONFIG ---
ENVIRONMENT=local # local | production
DEBUG=True
SECRET_KEY=your-secret-key-here

# --- DATABASE (Supabase in Prod) ---
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=churn_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

# --- OBJECT STORAGE (Cloudflare R2 in Prod) ---
S3_ACCESS_KEY=admin
S3_SECRET_KEY=password
S3_ENDPOINT_URL=http://localhost:9000
S3_BUCKET=churn-assets
S3_REGION=auto

# --- ML OPS (DagsHub in Prod) ---
MLFLOW_TRACKING_URI=http://localhost:5000 # Switch to DagsHub URL for Prod
MLFLOW_TRACKING_USERNAME=your-dagshub-username
MLFLOW_TRACKING_PASSWORD=your-dagshub-token

# --- AI LAYER ---
GROQ_API_KEY=your-groq-api-key-here
LLM_MODEL=mixtral-8x7b-32768
