# --- APP CONFIG ---
ENVIRONMENT=local # local | production
DEBUG=True
SECRET_KEY=your-secret-key-here
API_KEY=test-api-key

# --- DATABASE (Supabase in Prod) ---
DATABASE_URL=sqlite:///./test.db # Local fallback
# POSTGRES_URL=postgresql://user:pass@host:5432/db

# --- OBJECT STORAGE (Cloudflare R2 in Prod) ---
STORAGE_MODE=local # local | s3
S3_ENDPOINT_URL=http://localhost:9000
S3_ACCESS_KEY_ID=admin
S3_SECRET_ACCESS_KEY=password
S3_BUCKET_NAME=cdp-datalake-assets
S3_REGION=auto

# --- ML OPS (DagsHub in Prod) ---
MLFLOW_TRACKING_URI=http://localhost:5000
MLFLOW_TRACKING_USERNAME=your-dagshub-username
MLFLOW_TRACKING_PASSWORD=your-dagshub-token

# --- AI LAYER ---
GROQ_API_KEY=your-groq-api-key-here
LLM_MODEL=llama-3.3-70b-versatile
