# Python artifacts
__pycache__/
*.pyc
.venv/
.pytest_cache/
.ruff_cache/

# Data & Models
data/
mlruns/
mlruns_test/
mlflow.db
models/
ci_outputs/
tests/results/
test.db

# Dependencies
node_modules/
airflow-requirements.txt

# Windows Binaries & Logs
bin/
hadoop_libs/
*.exe
*.dll
*.log

# IDE settings
.vscode/
.idea/
text_cicd.txt
test_cicd.txt

# OS artifacts
.DS_Store
Thumbs.db  

# External Binaries
scripts/Eclipse Adoptium/
scripts/hadoop/

.env