# --- CORE AI & DATA PROCESSING ---
pandera
pandas
numpy
scipy
scikit-learn>=1.1
xgboost
joblib
statsmodels
pyarrow

# --- BIG DATA (Optional, kept for legacy compatibility) ---
pyspark==3.4.1

# --- ML OPS & ORCHESTRATION ---
mlflow>=2.12,<3
optuna

# --- BACKEND (FASTAPI) ---
fastapi
uvicorn
pydantic
python-multipart
requests

# --- DATABASE ---
sqlalchemy
alembic
psycopg2-binary

# --- CLOUD & STORAGE ---
boto3
s3fs
fsspec

# --- ANALYTICS (STREAMLIT) ---
streamlit
matplotlib
seaborn
openpyxl
odfpy>=1.4.1
