pandera
pandas 
numpy
matplotlib 
seaborn
openpyxl
statsmodels
scipy
scikit-learn
pyarrow
xgboost
joblib
pyspark==3.4.1
pytest
pytest-cov
ruff
flake8
mypy
black
isort
s3fs
fsspec
mlflow>=2.12,<3
boto3
streamlit
great_expectations
alembic
sqlalchemy
psycopg2-binary